@charset "UTF-8";

*, *:before,
*:after {
    box-sizing: border-box;
}


html {
    
    background-position: center;
    background-size: auto;

}

/*https://play.tailwindcss.com/jauYBOzBd6*/

.water-round-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    animation: water-waves linear infinite;
    /*transition: opacity 1s, color 5s;*/
}

.loading, .init {
    background: rgba(220,220,220,0.2);
}

.init button, .active button {
    display: none;
}

.loading button {
    display: inline-flex;
}

.inner {
    opacity: 20%;
}

.active .inner .value {
    visibility: visible;
}

.loading .value, .init .value {
    /*transition-duration: 5s;*/
    visibility: hidden;
}

.error {
    opacity: 0;
    transition: opacity 1s;
}

.error.active {
    opacity: 100%;
}

.retry {
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.retry.active {
    display: inline-flex;
    opacity: 100%;
}

.substitute ol, .substitute ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.substitute a {
    margin: revert;
    padding: revert;
    text-decoration: revert;
}

.substitute p h1, .substitute p h2, .substitute p h3, .substitute p h4, .substitute p h5, .substitute p h6 {
    margin: revert;
    padding: revert;
}

.water-round-container.active .inner {
    background: initial;
    border: none;
    opacity: 100%;
}

.round-text {
    position: absolute;
    z-index: 1000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 30%;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

    .round-text .value {
        font-size: 3rem;
    }

.active .water-wave1 {
    position: absolute;
    top: 30%;
    left: -25%;
    opacity: 0.9;
    width: 200%;
    height: 200%;
    border-radius: 40%;
    animation: water-waves linear infinite, filling1 linear normal;
    animation-duration: 6s;
}

.active .water-wave2 {
    position: absolute;
    top: 20%;
    left: -35%;
    opacity: 0.5;
    width: 200%;
    height: 200%;
    border-radius: 35%;
    animation: water-waves linear infinite, filling2 linear normal;
    animation-duration: 8s;
}

.active .water-wave3 {
    position: absolute;
    top: 20%;
    left: -35%;
    opacity: 0.8;
    width: 200%;
    height: 200%;
    border-radius: 33%;
    animation: water-waves linear infinite, filling3 linear normal;
    animation-duration: 10s;
}

@keyframes filling1 {
    0% {
        top: 100%;
    }

    100% {
        top: 30%;
    }
}

@keyframes filling2 {
    0% {
        top: 100%;
    }

    100% {
        top: 20%;
    }
}

@keyframes filling3 {
    0% {
        top: 100%;
    }

    100% {
        top: 20%;
    }
}

@keyframes water-waves {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
